B2CTouresBalon/Service References/ProxyServiceB2C/ServiceProxyB2C.wsdl

<?xml version="1.0" encoding="utf-8"?>
<WL5G3N0:definitions xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N1="http://www.touresbalon.com/ServiceProxyB2C/" name="ServiceProxyB2C" targetNamespace="http://www.touresbalon.com/ServiceProxyB2C/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/">
  <WL5G3N0:types>
    <xsd:schema xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tb_b2="http://www.touresbalon.com/ServiceProxyB2C/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.touresbalon.com/ServiceProxyB2C/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="RegistrarCliente">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="cliente" type="tb_b2:Cliente" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RegistrarClienteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="registrarClienteResponse" type="tb_b2:RegistrarClienteReponseType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AutenticarCliente">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="usuario" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="contrasenia" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AutenticarClienteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="respuesta" type="tb_b2:RespuestaGenerica" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarCliente">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="cliente" type="tb_b2:Cliente" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarClienteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="respuesta" type="tb_b2:RespuestaGenerica" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarContraseniaCliente">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="usuario" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="contrasenia" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarContraseniaClienteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="respuesta" type="tb_b2:RespuestaGenerica" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarProducto">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="tipo_consulta" type="tb_b2:TipoConsultaProducto" />
            <xsd:element minOccurs="1" maxOccurs="1" name="cadena_consulta" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarProductoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="productos" type="tb_b2:Producto" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarCampaniaProducto">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarCampaniaProductoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="productos" type="tb_b2:Producto" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarClientesOrdenes">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="id_cliente" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarClientesOrdenesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="orden" type="tb_b2:Orden" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CancelarOrdenes">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="id_orden" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CancelarOrdenesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="respuesta" type="tb_b2:RespuestaGenerica" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CrearOrdenes">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="orden" type="tb_b2:Orden" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CrearOrdenesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="respuesta" type="tb_b2:CrearOrdenResponse" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:simpleType name="RespuestaGenerica">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="OK" />
          <xsd:enumeration value="KO" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Error">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="codigo" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="mensaje" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Direccion">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="id_direccion" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pais" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ciudad" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="estado" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="cod_postal" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="tipo_dir" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dir_calle" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Cliente">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="id_cliente" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="nombres" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="apellidos" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="num_tel" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="email" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="contrasenia" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="tipo_tarjeta" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="numero_tarjeta" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="direccion" type="tb_b2:Direccion" />
          <xsd:element minOccurs="1" maxOccurs="1" name="estatus" type="tb_b2:EstatusCliente" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Item">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id_item" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="id_prod" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="nombre_prod" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="part_num" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="precio" type="xsd:double" />
          <xsd:element minOccurs="1" maxOccurs="1" name="cantidad" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="id_orden" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Orden">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id_cliente" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="id_orden" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="fecha_orden" type="xsd:dateTime" />
          <xsd:element minOccurs="1" maxOccurs="1" name="precio" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="estatus" type="tb_b2:EstatusOrden" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="comentarios" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tb_b2:Item" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="EstatusOrden">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="VALIDACION" />
          <xsd:enumeration value="RESERVACION" />
          <xsd:enumeration value="CERRADA" />
          <xsd:enumeration value="RECHAZADA" />
          <xsd:enumeration value="CANCELADA" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="TipoConsultaProducto">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="DESCRIPCION" />
          <xsd:enumeration value="ID" />
          <xsd:enumeration value="NOMBRE" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="TarifaValores">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="nombre_tipo" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="precio" type="xsd:double" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Ciudad">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="id_ciudad" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pais" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="tipo_ciudad" type="tb_b2:TarifaValores" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Producto">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id_producto" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="espectaculo" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="descripcion" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ciudad_espectaculo" type="tb_b2:Ciudad" />
          <xsd:element minOccurs="0" maxOccurs="1" name="fecha_llegada" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="1" name="fecha_salida" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="1" name="fecha_espectaculo" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="1" name="tipo_transporte" type="tb_b2:TarifaValores" />
          <xsd:element minOccurs="1" maxOccurs="1" name="tipo_espectaculo" type="tb_b2:TarifaValores" />
          <xsd:element minOccurs="0" maxOccurs="1" name="tipo_hospedaje" type="tb_b2:TarifaValores" />
          <xsd:element minOccurs="0" maxOccurs="1" name="imagen_producto" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RegistrarClienteReponseType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="respuesta" type="tb_b2:RespuestaGenerica" />
          <xsd:element minOccurs="0" maxOccurs="1" name="id_cliente" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="EstatusCliente">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="PLATINO" />
          <xsd:enumeration value="DORADO" />
          <xsd:enumeration value="PLATEADO" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="RegistrarClienteFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="RegistrarClienteFault" type="tb_b2:Error" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AutenticarClienteFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="AutenticarClienteFault" type="tb_b2:Error" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarClienteFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ActualizarClienteFault" type="tb_b2:Error" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarContraseniaClienteFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ActualizarContraseniaClienteFault" type="tb_b2:Error" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarProductoFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ConsultarProductoFault" type="tb_b2:Error" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarCampaniaProductoFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ConsultarCampaniaProductoFault" type="tb_b2:Error" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarClientesOrdenesFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ConsultarClientesOrdenesFault" type="tb_b2:Error" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CancelarOrdenesFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="CancelarOrdenesFault" type="tb_b2:Error" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CrearOrdenesFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="CrearOrdenesFault" type="tb_b2:Error" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:simpleType name="TipoConsultaOrden">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="ORDEN" />
          <xsd:enumeration value="PRODUCTO" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="CriterioConsultaOrden">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="tipo_consulta" type="tb_b2:TipoConsultaOrden" />
          <xsd:element minOccurs="1" maxOccurs="1" name="codigo" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RespuestaOrdenCerrada">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="ordenes_cerradas" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="total" type="xsd:double" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="TipoTarifa">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="TRANSPORTE" />
          <xsd:enumeration value="HOSPEDAJE" />
          <xsd:enumeration value="ESPECTACULO" />
          <xsd:enumeration value="CIUDAD" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Campania">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id_producto" type="tb_b2:Producto" />
          <xsd:element minOccurs="1" maxOccurs="1" name="fecha_inicio_campania" type="xsd:dateTime" />
          <xsd:element minOccurs="1" maxOccurs="1" name="fecha_fin_campania" type="xsd:dateTime" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ConsultaTop5Productos">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="id_producto" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultaTop5ProductosResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="lista_productos_top" type="tb_b2:Producto" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultaTop5ProductosFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ConsultaTop5ProductosFault" type="tb_b2:Error" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="CrearOrdenResponse">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="respuesta" type="tb_b2:RespuestaGenerica" />
          <xsd:element minOccurs="0" maxOccurs="1" name="id_orden" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="estatus_orden" type="tb_b2:EstatusOrden" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="RegistrarClienteRequest">
    <WL5G3N0:part name="parameters" element="WL5G3N1:RegistrarCliente" />
  </WL5G3N0:message>
  <WL5G3N0:message name="RegistrarClienteResponse">
    <WL5G3N0:part name="parameters" element="WL5G3N1:RegistrarClienteResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="AutenticarClienteRequest">
    <WL5G3N0:part name="parameters" element="WL5G3N1:AutenticarCliente" />
  </WL5G3N0:message>
  <WL5G3N0:message name="AutenticarClienteResponse">
    <WL5G3N0:part name="parameters" element="WL5G3N1:AutenticarClienteResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="ActualizarClienteRequest">
    <WL5G3N0:part name="parameters" element="WL5G3N1:ActualizarCliente" />
  </WL5G3N0:message>
  <WL5G3N0:message name="ActualizarClienteResponse">
    <WL5G3N0:part name="parameters" element="WL5G3N1:ActualizarClienteResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="ActualizarContraseniaClienteRequest">
    <WL5G3N0:part name="parameters" element="WL5G3N1:ActualizarContraseniaCliente" />
  </WL5G3N0:message>
  <WL5G3N0:message name="ActualizarContraseniaClienteResponse">
    <WL5G3N0:part name="parameters" element="WL5G3N1:ActualizarContraseniaClienteResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="ConsultarProductoRequest">
    <WL5G3N0:part name="parameters" element="WL5G3N1:ConsultarProducto" />
  </WL5G3N0:message>
  <WL5G3N0:message name="ConsultarProductoResponse">
    <WL5G3N0:part name="parameters" element="WL5G3N1:ConsultarProductoResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="ConsultarCampaniaProductoRequest">
    <WL5G3N0:part name="parameters" element="WL5G3N1:ConsultarCampaniaProducto" />
  </WL5G3N0:message>
  <WL5G3N0:message name="ConsultarCampaniaProductoResponse">
    <WL5G3N0:part name="parameters" element="WL5G3N1:ConsultarCampaniaProductoResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="ConsultarClientesOrdenesRequest">
    <WL5G3N0:part name="parameters" element="WL5G3N1:ConsultarClientesOrdenes" />
  </WL5G3N0:message>
  <WL5G3N0:message name="ConsultarClientesOrdenesResponse">
    <WL5G3N0:part name="parameters" element="WL5G3N1:ConsultarClientesOrdenesResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="CancelarOrdenesRequest">
    <WL5G3N0:part name="parameters" element="WL5G3N1:CancelarOrdenes" />
  </WL5G3N0:message>
  <WL5G3N0:message name="CancelarOrdenesResponse">
    <WL5G3N0:part name="parameters" element="WL5G3N1:CancelarOrdenesResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="CrearOrdenesRequest">
    <WL5G3N0:part name="parameters" element="WL5G3N1:CrearOrdenes" />
  </WL5G3N0:message>
  <WL5G3N0:message name="CrearOrdenesResponse">
    <WL5G3N0:part name="parameters" element="WL5G3N1:CrearOrdenesResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="RegistrarClienteFault">
    <WL5G3N0:part name="parameters" element="WL5G3N1:RegistrarClienteFault" />
  </WL5G3N0:message>
  <WL5G3N0:message name="AutenticarClienteFault">
    <WL5G3N0:part name="parameters" element="WL5G3N1:AutenticarClienteFault" />
  </WL5G3N0:message>
  <WL5G3N0:message name="ActualizarClienteFault">
    <WL5G3N0:part name="parameters" element="WL5G3N1:ActualizarClienteFault" />
  </WL5G3N0:message>
  <WL5G3N0:message name="ActualizarContraseniaClienteFault">
    <WL5G3N0:part name="parameters" element="WL5G3N1:ActualizarContraseniaClienteFault" />
  </WL5G3N0:message>
  <WL5G3N0:message name="ConsultarProductoFault">
    <WL5G3N0:part name="parameters" element="WL5G3N1:ConsultarProductoFault" />
  </WL5G3N0:message>
  <WL5G3N0:message name="ConsultarCampaniaProductoFault">
    <WL5G3N0:part name="parameters" element="WL5G3N1:ConsultarCampaniaProductoFault" />
  </WL5G3N0:message>
  <WL5G3N0:message name="ConsultarClientesOrdenesFault">
    <WL5G3N0:part name="parameters" element="WL5G3N1:ConsultarClientesOrdenesFault" />
  </WL5G3N0:message>
  <WL5G3N0:message name="CancelarOrdenesFault">
    <WL5G3N0:part name="parameters" element="WL5G3N1:CancelarOrdenesFault" />
  </WL5G3N0:message>
  <WL5G3N0:message name="CrearOrdenesFault">
    <WL5G3N0:part name="parameters" element="WL5G3N1:CrearOrdenesFault" />
  </WL5G3N0:message>
  <WL5G3N0:message name="ConsultaTop5ProductosRequest">
    <WL5G3N0:part name="parameters" element="WL5G3N1:ConsultaTop5Productos" />
  </WL5G3N0:message>
  <WL5G3N0:message name="ConsultaTop5ProductosResponse">
    <WL5G3N0:part name="parameters" element="WL5G3N1:ConsultaTop5ProductosResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="ConsultaTop5ProductosFault">
    <WL5G3N0:part name="parameters" element="WL5G3N1:ConsultaTop5ProductosFault" />
  </WL5G3N0:message>
  <WL5G3N0:portType name="ServiceProxyB2C">
    <WL5G3N0:operation name="RegistrarCliente">
      <WL5G3N0:input message="WL5G3N1:RegistrarClienteRequest" />
      <WL5G3N0:output message="WL5G3N1:RegistrarClienteResponse" />
      <WL5G3N0:fault name="fault" message="WL5G3N1:RegistrarClienteFault" />
    </WL5G3N0:operation>
    <WL5G3N0:operation name="AutenticarCliente">
      <WL5G3N0:input message="WL5G3N1:AutenticarClienteRequest" />
      <WL5G3N0:output message="WL5G3N1:AutenticarClienteResponse" />
      <WL5G3N0:fault name="fault" message="WL5G3N1:AutenticarClienteFault" />
    </WL5G3N0:operation>
    <WL5G3N0:operation name="ActualizarCliente">
      <WL5G3N0:input message="WL5G3N1:ActualizarClienteRequest" />
      <WL5G3N0:output message="WL5G3N1:ActualizarClienteResponse" />
      <WL5G3N0:fault name="fault" message="WL5G3N1:ActualizarClienteFault" />
    </WL5G3N0:operation>
    <WL5G3N0:operation name="ActualizarContraseniaCliente">
      <WL5G3N0:input message="WL5G3N1:ActualizarContraseniaClienteRequest" />
      <WL5G3N0:output message="WL5G3N1:ActualizarContraseniaClienteResponse" />
      <WL5G3N0:fault name="fault" message="WL5G3N1:ActualizarContraseniaClienteFault" />
    </WL5G3N0:operation>
    <WL5G3N0:operation name="ConsultarProducto">
      <WL5G3N0:input message="WL5G3N1:ConsultarProductoRequest" />
      <WL5G3N0:output message="WL5G3N1:ConsultarProductoResponse" />
      <WL5G3N0:fault name="fault" message="WL5G3N1:ConsultarProductoFault" />
    </WL5G3N0:operation>
    <WL5G3N0:operation name="ConsultarCampaniaProducto">
      <WL5G3N0:input message="WL5G3N1:ConsultarCampaniaProductoRequest" />
      <WL5G3N0:output message="WL5G3N1:ConsultarCampaniaProductoResponse" />
      <WL5G3N0:fault name="fault" message="WL5G3N1:ConsultarCampaniaProductoFault" />
    </WL5G3N0:operation>
    <WL5G3N0:operation name="ConsultarClientesOrdenes">
      <WL5G3N0:input message="WL5G3N1:ConsultarClientesOrdenesRequest" />
      <WL5G3N0:output message="WL5G3N1:ConsultarClientesOrdenesResponse" />
      <WL5G3N0:fault name="fault" message="WL5G3N1:ConsultarClientesOrdenesFault" />
    </WL5G3N0:operation>
    <WL5G3N0:operation name="CancelarOrdenes">
      <WL5G3N0:input message="WL5G3N1:CancelarOrdenesRequest" />
      <WL5G3N0:output message="WL5G3N1:CancelarOrdenesResponse" />
      <WL5G3N0:fault name="fault" message="WL5G3N1:CancelarOrdenesFault" />
    </WL5G3N0:operation>
    <WL5G3N0:operation name="CrearOrdenes">
      <WL5G3N0:input message="WL5G3N1:CrearOrdenesRequest" />
      <WL5G3N0:output message="WL5G3N1:CrearOrdenesResponse" />
      <WL5G3N0:fault name="fault" message="WL5G3N1:CrearOrdenesFault" />
    </WL5G3N0:operation>
    <WL5G3N0:operation name="ConsultaTop5Productos">
      <WL5G3N0:input message="WL5G3N1:ConsultaTop5ProductosRequest" />
      <WL5G3N0:output message="WL5G3N1:ConsultaTop5ProductosResponse" />
      <WL5G3N0:fault name="fault" message="WL5G3N1:ConsultaTop5ProductosFault" />
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="ServiceProxyB2CSOAP" type="WL5G3N1:ServiceProxyB2C">
    <WL5G3N2:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <WL5G3N0:operation name="RegistrarCliente">
      <WL5G3N2:operation soapAction="http://www.touresbalon.com/ServiceProxyB2C/RegistrarCliente" />
      <WL5G3N0:input>
        <WL5G3N2:body use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal" />
      </WL5G3N0:output>
      <WL5G3N0:fault name="fault">
        <WL5G3N2:fault use="literal" name="fault" namespace="" />
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="AutenticarCliente">
      <WL5G3N2:operation soapAction="http://www.touresbalon.com/ServiceProxyB2C/AutenticarCliente" />
      <WL5G3N0:input>
        <WL5G3N2:body use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal" />
      </WL5G3N0:output>
      <WL5G3N0:fault name="fault">
        <WL5G3N2:fault use="literal" name="fault" namespace="" />
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="ActualizarCliente">
      <WL5G3N2:operation soapAction="http://www.touresbalon.com/ServiceProxyB2C/ActualizarCliente" />
      <WL5G3N0:input>
        <WL5G3N2:body use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal" />
      </WL5G3N0:output>
      <WL5G3N0:fault name="fault">
        <WL5G3N2:fault use="literal" name="fault" namespace="" />
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="ActualizarContraseniaCliente">
      <WL5G3N2:operation soapAction="http://www.touresbalon.com/ServiceProxyB2C/ActualizarContraseniaCliente" />
      <WL5G3N0:input>
        <WL5G3N2:body use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal" />
      </WL5G3N0:output>
      <WL5G3N0:fault name="fault">
        <WL5G3N2:fault use="literal" name="fault" namespace="" />
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="ConsultarProducto">
      <WL5G3N2:operation soapAction="http://www.touresbalon.com/ServiceProxyB2C/ConsultarProducto" />
      <WL5G3N0:input>
        <WL5G3N2:body use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal" />
      </WL5G3N0:output>
      <WL5G3N0:fault name="fault">
        <WL5G3N2:fault use="literal" name="fault" namespace="" />
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="ConsultarCampaniaProducto">
      <WL5G3N2:operation soapAction="http://www.touresbalon.com/ServiceProxyB2C/ConsultarCampaniaProducto" />
      <WL5G3N0:input>
        <WL5G3N2:body use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal" />
      </WL5G3N0:output>
      <WL5G3N0:fault name="fault">
        <WL5G3N2:fault use="literal" name="fault" namespace="" />
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="ConsultarClientesOrdenes">
      <WL5G3N2:operation soapAction="http://www.touresbalon.com/ServiceProxyB2C/ConsultarClientesOrdenes" />
      <WL5G3N0:input>
        <WL5G3N2:body use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal" />
      </WL5G3N0:output>
      <WL5G3N0:fault name="fault">
        <WL5G3N2:fault use="literal" name="fault" namespace="" />
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="CancelarOrdenes">
      <WL5G3N2:operation soapAction="http://www.touresbalon.com/ServiceProxyB2C/CancelarOrdenes" />
      <WL5G3N0:input>
        <WL5G3N2:body use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal" />
      </WL5G3N0:output>
      <WL5G3N0:fault name="fault">
        <WL5G3N2:fault use="literal" name="fault" namespace="" />
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="CrearOrdenes">
      <WL5G3N2:operation soapAction="http://www.touresbalon.com/ServiceProxyB2C/CrearOrdenes" />
      <WL5G3N0:input>
        <WL5G3N2:body use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal" />
      </WL5G3N0:output>
      <WL5G3N0:fault name="fault">
        <WL5G3N2:fault use="literal" name="fault" namespace="" />
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="ConsultaTop5Productos">
      <WL5G3N2:operation soapAction="http://www.touresbalon.com/ServiceProxyB2C/ConsultaTop5Productos" />
      <WL5G3N0:input>
        <WL5G3N2:body use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal" />
      </WL5G3N0:output>
      <WL5G3N0:fault name="fault">
        <WL5G3N2:fault use="literal" name="fault" namespace="" />
      </WL5G3N0:fault>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="ServiceProxyB2C">
    <WL5G3N0:port name="ServiceProxyB2CSOAP" binding="WL5G3N1:ServiceProxyB2CSOAP">
      <WL5G3N2:address location="http://0.0.0.0:7001/OSB_TouresBalon_B2C/Proxy_services/ProxyServiceB2C" />
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>