B2CTouresBalon/Service References/ServicioClientes/ClientesTouresBalon.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:t="http://www.touresbalon.com/ClientesTouresBalon/" name="ClientesTouresBalon" targetNamespace="http://www.touresbalon.com/ClientesTouresBalon/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.touresbalon.com/ClientesTouresBalon/">
      <xsd:element name="RegistrarCliente">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="cliente" type="t:Cliente" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RegistrarClienteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="registrarClienteResponse" type="t:RegistrarClienteReponseType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="Cliente">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="id_cliente" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="nombres" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="apellidos" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="num_tel" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="email" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="contrasenia" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="tipo_tarjeta" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="numero_tarjeta" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="direccion" type="t:Direccion" />
          <xsd:element minOccurs="1" maxOccurs="1" name="estatus" type="t:EstatusCliente" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Direccion">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="id_direccion" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pais" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ciudad" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="estado" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="cod_postal" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="tipo_dir" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dir_calle" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="AutenticarCliente">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="usuario" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="contrasenia" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AutenticarClienteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="respuesta" type="t:RespuestaGenerica" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarCliente">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="cliente" type="t:Cliente" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarClienteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="respuesta" type="t:RespuestaGenerica" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarContraseniaCliente">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="usuario" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="contrasenia" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarContraseniaClienteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="respuesta" type="t:RespuestaGenerica" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="Error">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="codigo" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="mensaje" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="RespuestaGenerica">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="OK" />
          <xsd:enumeration value="KO" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="ActualizarEstatusCliente">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="id_cliente" type="xsd:int" />
            <xsd:element minOccurs="1" maxOccurs="1" name="estatus" type="t:EstatusCliente" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarEstatusClienteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="respuesta" type="t:RespuestaGenerica" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarPorIdentificacionCliente">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="id_cliente" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarPorIdentificacionClienteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="cliente" type="t:Cliente" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarPorProductoCliente">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="id_producto" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarPorProductoClienteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="cliente" type="t:Cliente" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarPorFactRangoCliente">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="fecha_inicial" type="xsd:dateTime" />
            <xsd:element minOccurs="1" maxOccurs="1" name="fecha_fin" type="xsd:dateTime" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarPorFactRangoClienteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="cliente" type="t:Cliente" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:simpleType name="EstatusCliente">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="PLATINO" />
          <xsd:enumeration value="DORADO" />
          <xsd:enumeration value="PLATEADO" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="RegistrarClienteFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="RegistrarClienteFault" type="t:Error" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AutenticarClienteFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="AutenticarClienteFault" type="t:Error" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarClienteFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ActualizarClienteFault" type="t:Error" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarContraseniaClienteFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ActualizarContraseniaClienteFault" type="t:Error" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarEstatusClienteFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ActualizarEstatusClienteFault" type="t:Error" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarPorIdentificacionClienteFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ConsultarPorIdentificacionClienteFault" type="t:Error" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarPorProductoClienteFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ConsultarPorProductoClienteFault" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarPorFactRangoClienteFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ConsultarPorFactRangoClienteFault" type="t:Error" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="RegistrarClienteReponseType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="respuesta" type="t:RespuestaGenerica" />
          <xsd:element minOccurs="0" maxOccurs="1" name="id_cliente" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AutenticarClienteResponse">
    <wsdl:part name="parameters" element="t:AutenticarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarPorFactRangoClienteRequest">
    <wsdl:part name="parameters" element="t:ConsultarPorFactRangoCliente" />
  </wsdl:message>
  <wsdl:message name="ActualizarEstatusClienteResponse">
    <wsdl:part name="parameters" element="t:ActualizarEstatusClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarEstatusClienteRequest">
    <wsdl:part name="parameters" element="t:ActualizarEstatusCliente" />
  </wsdl:message>
  <wsdl:message name="ConsultarPorIdentificacionClienteFault">
    <wsdl:part name="parameters" element="t:ConsultarPorIdentificacionClienteFault" />
  </wsdl:message>
  <wsdl:message name="RegistrarClienteFault">
    <wsdl:part name="parameters" element="t:RegistrarClienteFault" />
  </wsdl:message>
  <wsdl:message name="ConsultarPorProductoClienteRequest">
    <wsdl:part name="parameters" element="t:ConsultarPorProductoCliente" />
  </wsdl:message>
  <wsdl:message name="ActualizarContraseniaClienteRequest">
    <wsdl:part name="parameters" element="t:ActualizarContraseniaCliente" />
  </wsdl:message>
  <wsdl:message name="RegistrarClienteResponse">
    <wsdl:part name="parameters" element="t:RegistrarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarClienteRequest">
    <wsdl:part name="parameters" element="t:ActualizarCliente" />
  </wsdl:message>
  <wsdl:message name="AutenticarClienteFault">
    <wsdl:part name="parameters" element="t:AutenticarClienteFault" />
  </wsdl:message>
  <wsdl:message name="AutenticarClienteRequest">
    <wsdl:part name="parameters" element="t:AutenticarCliente" />
  </wsdl:message>
  <wsdl:message name="ActualizarContraseniaClienteFault">
    <wsdl:part name="parameters" element="t:ActualizarContraseniaClienteFault" />
  </wsdl:message>
  <wsdl:message name="ConsultarPorProductoClienteResponse">
    <wsdl:part name="parameters" element="t:ConsultarPorProductoClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarPorProductoClienteFault">
    <wsdl:part name="parameters" element="t:ConsultarPorProductoClienteFault" />
  </wsdl:message>
  <wsdl:message name="ConsultarPorIdentificacionClienteRequest">
    <wsdl:part name="parameters" element="t:ConsultarPorIdentificacionCliente" />
  </wsdl:message>
  <wsdl:message name="ConsultarPorFactRangoClienteResponse">
    <wsdl:part name="parameters" element="t:ConsultarPorFactRangoClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarPorFactRangoClienteFault">
    <wsdl:part name="parameters" element="t:ConsultarPorFactRangoClienteFault" />
  </wsdl:message>
  <wsdl:message name="ActualizarEstatusClienteFault">
    <wsdl:part name="parameters" element="t:ActualizarEstatusClienteFault" />
  </wsdl:message>
  <wsdl:message name="ActualizarContraseniaClienteResponse">
    <wsdl:part name="parameters" element="t:ActualizarContraseniaClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarPorIdentificacionClienteResponse">
    <wsdl:part name="parameters" element="t:ConsultarPorIdentificacionClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarClienteFault">
    <wsdl:part name="parameters" element="t:ActualizarClienteFault" />
  </wsdl:message>
  <wsdl:message name="ActualizarClienteResponse">
    <wsdl:part name="parameters" element="t:ActualizarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="RegistrarClienteRequest">
    <wsdl:part name="parameters" element="t:RegistrarCliente" />
  </wsdl:message>
  <wsdl:portType name="ClientesTouresBalon">
    <wsdl:operation name="RegistrarCliente">
      <wsdl:input message="t:RegistrarClienteRequest" />
      <wsdl:output message="t:RegistrarClienteResponse" />
      <wsdl:fault name="fault" message="t:RegistrarClienteFault" />
    </wsdl:operation>
    <wsdl:operation name="AutenticarCliente">
      <wsdl:input message="t:AutenticarClienteRequest" />
      <wsdl:output message="t:AutenticarClienteResponse" />
      <wsdl:fault name="fault" message="t:AutenticarClienteFault" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarCliente">
      <wsdl:input message="t:ActualizarClienteRequest" />
      <wsdl:output message="t:ActualizarClienteResponse" />
      <wsdl:fault name="fault" message="t:ActualizarClienteFault" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarContraseniaCliente">
      <wsdl:input message="t:ActualizarContraseniaClienteRequest" />
      <wsdl:output message="t:ActualizarContraseniaClienteResponse" />
      <wsdl:fault name="fault" message="t:ActualizarContraseniaClienteFault" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarEstatusCliente">
      <wsdl:input message="t:ActualizarEstatusClienteRequest" />
      <wsdl:output message="t:ActualizarEstatusClienteResponse" />
      <wsdl:fault name="fault" message="t:ActualizarEstatusClienteFault" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPorIdentificacionCliente">
      <wsdl:input message="t:ConsultarPorIdentificacionClienteRequest" />
      <wsdl:output message="t:ConsultarPorIdentificacionClienteResponse" />
      <wsdl:fault name="fault" message="t:ConsultarPorIdentificacionClienteFault" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPorProductoCliente">
      <wsdl:input message="t:ConsultarPorProductoClienteRequest" />
      <wsdl:output message="t:ConsultarPorProductoClienteResponse" />
      <wsdl:fault name="fault" message="t:ConsultarPorProductoClienteFault" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPorFactRangoCliente">
      <wsdl:input message="t:ConsultarPorFactRangoClienteRequest" />
      <wsdl:output message="t:ConsultarPorFactRangoClienteResponse" />
      <wsdl:fault name="fault" message="t:ConsultarPorFactRangoClienteFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClientesTouresBalonSOAP" type="t:ClientesTouresBalon">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarCliente">
      <soap:operation soapAction="http://www.touresbalon.com/ClientesTouresBalon/RegistrarCliente" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AutenticarCliente">
      <soap:operation soapAction="http://www.touresbalon.com/ClientesTouresBalon/AutenticarCliente" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCliente">
      <soap:operation soapAction="http://www.touresbalon.com/ClientesTouresBalon/ActualizarCliente" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ActualizarContraseniaCliente">
      <soap:operation soapAction="http://www.touresbalon.com/ClientesTouresBalon/ActualizarContraseniaCliente" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ActualizarEstatusCliente">
      <soap:operation soapAction="http://www.touresbalon.com/ClientesTouresBalon/ActualizarEstatusCliente" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPorIdentificacionCliente">
      <soap:operation soapAction="http://www.touresbalon.com/ClientesTouresBalon/ConsultarPorIdentificacionCliente" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPorProductoCliente">
      <soap:operation soapAction="http://www.touresbalon.com/ClientesTouresBalon/ConsultarPorProductoCliente" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPorFactRangoCliente">
      <soap:operation soapAction="http://www.touresbalon.com/ClientesTouresBalon/ConsultarPorFactRangoCliente" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientesTouresBalon">
    <wsdl:port name="ClientesTouresBalonSOAP" binding="t:ClientesTouresBalonSOAP">
      <wsdl:documentation>Version 0.1</wsdl:documentation>
      <soap:address location="http://localhost:8080/TouresBalonClientesWS/ClientesTouresBalon" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>